/*.skillBlock{*/
/*    border: 1px solid;*/
/*    height: 100vh;*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*    background-color: aquamarine;*/

/*}*/
/*.skillContainer{*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/


/*}*/
/*.title{*/
/*    background-color: dimgrey;*/


/*}*/
.skill {

    background-color: dimgrey;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*justify-content: space-between;*/
}
.icon{
    background-color: darkgreen;
    height: 60px;
    width: 60px;

}
